#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  font-family: 'Roboto', sans-serif;
}

#title {
  color: #2a2621;
  font-weight: bolder;
  text-decoration: underline;
}

#games {
  color: #554c41;
  text-decoration: dotted underline;
}
